Package: io.smacpats.emojiportinstaller.11
Name: EmojiPort Installer
Version: 1.2
Architecture: iphoneos-arm
Depends: com.ps.emojiportwt, mobilesubstrate, firmware (>> 9.3.5)
Author: Smacpats
Section: EmojiPort
Description: (Legacy for iOS 10/11) Install emojiport and iOS 13.2 emojis automatically. 
Maintainer: smacpats
